.how {
    margin-top: 360px;
}

.how__chiziq {
    height: 2px;
    background-color: #FDD6BA;
    width: 760px;
    display: block;
    margin-bottom: 500px;
    position: relative;
    margin-left: 30px;
}

.how__span {
    border: 2px solid  #0E8784;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-top: -14px;
    margin-left: -27px;
}

.how__span:nth-child(2) {
    margin-left: 364px;
}

.how__span:nth-child(3) {
    margin-left: 755px;
}

.group15 {
    width: 285px;
    height: 355px;
    flex-shrink: 0;
}

.group15__01 {
    color: #FDD6BA;
    font-family: "Fraunces";
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}

.group15__title {
    width: 200px;
    color: #FEFCF7;
    font-family: "Fraunces";
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    margin: 30px 0;
}

.group15__text {
    color: #FEFCF7;
    font-family: "Barlow";
    font-size: 16px;
    width: 269px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.how__flex {
    display: flex;
    transform: translateY(-400px);
    gap: 111px;
}

.group16 {
    width: 1180px;
    height: 620px;
    padding: 115px 85px;
    background-color: #2C343E;
    border-radius: 10px;
    transform: translateY(-200px);
}